In [1]:
%%HTML
<style type="text/css">
    table.dataframe td, table.dataframe th {
        border-style: solid;
    }
</style>

In [3]:
import os
os.chdir('/Users/rajatpa/Documents/DS/code_basics/py/pandas/3_different_ways_of_creating_dataframe/')
import pandas as pd

In [3]:
#5 different ways of creating pandas dataframe
# 1. using csv
# 2. using excel
# 3. From python dictionary
# 4. From list of tuples
# 5. From list of dictionary

In [4]:
df = pd.read_csv('/Users/rajatpa/Documents/DS/code_basics/py/pandas/3_different_ways_of_creating_dataframe/weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [5]:
# 2nd way of creating DataFrame from excel file
df1 = pd.read_excel('/Users/rajatpa/Documents/DS/code_basics/py/pandas/3_different_ways_of_creating_dataframe/weather_data.xlsx','Sheet1')
df1

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [6]:
# 3rd way of creating DataFrame using Python Dictionary
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'windspeed': [6,7,2],
    'event': ['Rain', 'Sunny', 'Snow']
}
df2 = pd.DataFrame(weather_data)
df2

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [7]:
# 4th way of creating DataFrame using tuple list
weather_data = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow')
]
df3 = pd.DataFrame(weather_data,columns = ['day','temperature','windspeed','event'])
df3

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [8]:
# 5th way to create a DataFrame is using list of dictionary
weather_data = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'},
    
]
df4 = pd.DataFrame(weather_data)
df4

        day  event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2