In [146]:
'''
Topics covered
1) What is dataframe?
2) Create dataframe from csv file and python dictionary
3) Dealing with rows and columns
4) Operations: mean, max, std, describe
5) Conditional selection
6) set_index function and usefulness of it

'''

'\nTopics covered\n1) What is dataframe?\n2) Create dataframe from csv file and python dictionary\n3) Dealing with rows and columns\n4) Operations: mean, max, std, describe\n5) Conditional selection\n6) set_index function and usefulness of it\n\n'

In [1]:
%%HTML
<style type="text/css">
    table.dataframe td, table.dataframe th {
        border-style: solid;
    }
</style>

In [3]:
import os
os.chdir('/Users/rajatpa/Documents/DS/37_code_basics/py/pandas/2_dataframe_basics')
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('/Users/rajatpa/Documents/DS/37_code_basics/py/pandas/2_dataframe_basics/weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [150]:
# from dictionary also we can prepare a data frame
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}

In [151]:
dfd = pd.DataFrame(weather_data)
dfd

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [152]:
# to check the shape or over all size of the DataFrame
display(df.shape,dfd.shape)

(6, 4)

(6, 4)

In [153]:
rows,columns = df.shape
display(rows,columns)

6

4

In [154]:
# printing rows using the head()
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [155]:
# printing rows using the tail()
df.tail()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [156]:
# to print few rows but all columns of a DataFrame

In [157]:
# let's print all the columns names present in the DataFrame
df.columns.values

array(['day', 'temperature', 'windspeed', 'event'], dtype=object)

In [158]:
# let's print all the columns names present in the DataFrame
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [159]:
# printing the individual columns
# this format is the way of accesing the attribute of an object
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [160]:
type(df.day)

pandas.core.series.Series

In [161]:
# this is the way of accessing the keyword from a dictionary
df[['day']]

        day
0  1/1/2017
1  1/2/2017
2  1/3/2017
3  1/4/2017
4  1/5/2017
5  1/6/2017

In [162]:
type(df[['day']])

pandas.core.frame.DataFrame

In [163]:
# printing multiple columns
df[['day','windspeed']]

        day  windspeed
0  1/1/2017          6
1  1/2/2017          7
2  1/3/2017          2
3  1/4/2017          7
4  1/5/2017          4
5  1/6/2017          2

In [164]:
# checking the max temeprature
display(df[['temperature']],df[['temperature']].max())

   temperature
0           32
1           35
2           28
3           24
4           32
5           31

temperature    35
dtype: int64

In [165]:
display(df.temperature,df.temperature.max())

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

35

In [166]:
# checking the min temeprature
df[['temperature']].min()

temperature    24
dtype: int64

In [167]:
# if we want to see the descriptive statistics like info then we can use describe.
display(df.head(5),df.describe())

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [168]:
# getting the rows when the temperature > 32
# here we want a data frame which have all the coulmns but the rows which having temperature >=32
# So here we have to first drive tempetaure coulmn as a series format having condition temperature >=32
# then we have to pass the series as input to the DataFrame
display(df.temperature >=32,df[df.temperature >=32])

0     True
1     True
2    False
3    False
4     True
5    False
Name: temperature, dtype: bool

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [169]:
# here we want a data frame which have all the coulmns but the rows which having temperature >=32
# So here we have to first drive tempetaure coulmn as a series format having condition temperature >=32
# then we have to pass the series as input to the DataFrame
# here df['temperature'] >=32 is a series not a Data Frame
# df[['temperature']] >=32 is a DataFrame
display(df['temperature'] >=32,df[df['temperature'] >=32])

0     True
1     True
2    False
3    False
4     True
5    False
Name: temperature, dtype: bool

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [170]:
# It will be an issue if we pass data frame to a data frame. we should always pass series to a dataframe as input.
display(df[['temperature']] >=32,df[df[['temperature']] >=32])

   temperature
0         True
1         True
2        False
3        False
4         True
5        False

   day  temperature  windspeed event
0  NaN         32.0        NaN   NaN
1  NaN         35.0        NaN   NaN
2  NaN          NaN        NaN   NaN
3  NaN          NaN        NaN   NaN
4  NaN         32.0        NaN   NaN
5  NaN          NaN        NaN   NaN

In [171]:
# print the rows when the temeprature was maximum
# here also we can see, if we pass a DataFrame instead of Series to a DataFrame, then it will not give us the
# desired output
display(df[df.temperature == df.temperature.max()],df[df[['temperature']] == df[['temperature']].max()])

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

   day  temperature  windspeed event
0  NaN          NaN        NaN   NaN
1  NaN         35.0        NaN   NaN
2  NaN          NaN        NaN   NaN
3  NaN          NaN        NaN   NaN
4  NaN          NaN        NaN   NaN
5  NaN          NaN        NaN   NaN

In [172]:
# print the rows when the temeprature was maximum
df[df.temperature == df['temperature'].max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [173]:
df['temperature']

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [174]:
# If i want to print only the day when the temperature was maximum
df[df.temperature == df['temperature'].max()].day

1    1/2/2017
Name: day, dtype: object

In [175]:
# same can be written as
df[df.temperature == df['temperature'].max()]['day']

1    1/2/2017
Name: day, dtype: object

In [176]:
# same can be written as
display(df['day'],df['day'][df.temperature == df['temperature'].max()])

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

1    1/2/2017
Name: day, dtype: object

In [177]:
# If i want to print the day and temperature when the temperature was maximum
df[df.temperature == df['temperature'].max()][['day','temperature']]

        day  temperature
1  1/2/2017           35

In [178]:
# printing the index of the data frame
# Start index is included but the stop index is not included
display(df,df.index)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

RangeIndex(start=0, stop=6, step=1)

In [179]:
# If we donot want the integer index which assigned by default. Instead of that we want to assign some existing column
# as the index
# if we want to overwrite the existing DataFrame with this then need to use inplace = True
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [180]:
# Setting the index to some columns instead of the default index
df.set_index('day',inplace = True)
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [189]:
display(df,df.index,df.index.name)

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           31          2

Index(['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny'], dtype='object', name='event')

'event'

In [182]:
display(df.loc[['1/3/2017']])

          temperature  windspeed event
day
1/3/2017           28          2  Snow

In [190]:
# reseting the index to the previous values
df.reset_index(level = ['event'],inplace = True)
df

   event       day  temperature  windspeed
0   Rain  1/1/2017           32          6
1  Sunny  1/2/2017           35          7
2   Snow  1/3/2017           28          2
3   Snow  1/4/2017           24          7
4   Rain  1/5/2017           32          4
5  Sunny  1/6/2017           31          2

In [191]:
# creating a DataFrame using the numpy random function
df2 = pd.DataFrame(np.random.randn(4,4),columns = ['A','B','C','D'])
df2

          A         B         C         D
0  0.089433 -0.361434 -0.716366  1.926356
1 -1.658010  0.355233  1.505620  0.714557
2  1.193420 -0.188641 -1.046120 -0.098793
3  0.093086 -1.314691 -0.959073  0.137973

In [192]:
dct1 = { 'key1':[10,20,30],
       'key2': ['hello','world','bye'],
       'key3': [1.2,2.2,3.2]}

In [193]:
df3 = pd.DataFrame(dct1)
df3

   key1   key2  key3
0    10  hello   1.2
1    20  world   2.2
2    30    bye   3.2

In [195]:
df

   event       day  temperature  windspeed
0   Rain  1/1/2017           32          6
1  Sunny  1/2/2017           35          7
2   Snow  1/3/2017           28          2
3   Snow  1/4/2017           24          7
4   Rain  1/5/2017           32          4
5  Sunny  1/6/2017           31          2

In [200]:
df.loc[[1]]

   event       day  temperature  windspeed
1  Sunny  1/2/2017           35          7