In [3]:
%%HTML
<style type="text/css">
    table.dataframe td, table.dataframe th {
        border-style: solid;
    }
</style>

In [4]:
import os
os.chdir('/Users/rajatpa/Documents/DS/code_basics/py/pandas/4_read_write_to_excel')
import pandas as pd

In [5]:
df_stocks = pd.DataFrame({
    'tickers': ['GOOGL', 'WMT', 'MSFT'],
    'price': [845, 65, 64 ],
    'pe': [30.37, 14.26, 30.97],
    'eps': [27.82, 4.61, 2.12]
})

df_weather =  pd.DataFrame({
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'event': ['Rain', 'Sunny', 'Snow']
})

In [7]:
display(df_stocks,df_weather)

  tickers  price     pe    eps
0   GOOGL    845  30.37  27.82
1     WMT     65  14.26   4.61
2    MSFT     64  30.97   2.12

        day  temperature  event
0  1/1/2017           32   Rain
1  1/2/2017           35  Sunny
2  1/3/2017           28   Snow

In [8]:
# If i want to write the two Dataframe into two different sheet of an excel, then we can use pandas excelwriter
with pd.ExcelWriter('combine_df_in_exel.xlsx') as writer:
    df_stocks.to_excel(writer,sheet_name = 'stocks')
    df_weather.to_excel(writer,sheet_name = 'weather')

In [11]:
# This gives series with True/False values indicating which rows of df_weather.day present in df_stocks.tickers 
df_weather.day.isin(df_stocks.tickers)

0    False
1    False
2    False
Name: day, dtype: bool

In [ ]:
pd.concat()