In [1]:
%%HTML
<style type="text/css">
    table.dataframe td, table.dataframe th {
        border-style: solid;
    }
</style>

In [2]:
import os
os.chdir('/Users/rajatpa/Documents/DS/code_basics/py/pandas/18_ts_period')
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
# Yearly Period
y = pd.Period('2019')
y

Period('2019', 'A-DEC')

In [4]:
y.start_time

Timestamp('2019-01-01 00:00:00')

In [5]:
y.end_time

Timestamp('2019-12-31 23:59:59.999999999')

In [6]:
y.is_leap_year

False

In [7]:
# Monthly Period
m = pd.Period('2019-03')
m

Period('2019-03', 'M')

In [8]:
display(m.start_time,m.end_time)

Timestamp('2019-03-01 00:00:00')

Timestamp('2019-03-31 23:59:59.999999999')

In [9]:
m+1

Period('2019-04', 'M')

In [10]:
# Daily Period
d = pd.Period('2016-02-28', freq='D')
d

Period('2016-02-28', 'D')

In [11]:
# it will take care the leap year
d+1

Period('2016-02-29', 'D')

In [12]:
display(d.start_time,d.end_time)

Timestamp('2016-02-28 00:00:00')

Timestamp('2016-02-28 23:59:59.999999999')

In [13]:
# Hourly Period
h = pd.Period('2017-08-15 23:00:00',freq='H')
h

Period('2017-08-15 23:00', 'H')

In [14]:
h+1

Period('2017-08-16 00:00', 'H')

In [15]:
display(h.start_time,h.end_time)

Timestamp('2017-08-15 23:00:00')

Timestamp('2017-08-15 23:59:59.999999999')

In [16]:
# Achieve same results using pandas offsets hour
h+pd.offsets.Hour(1)

Period('2017-08-16 00:00', 'H')

In [17]:
h+pd.offsets.Hour(3)

Period('2017-08-16 02:00', 'H')

In [18]:
# Quarterly Period
q1= pd.Period('2019Q1', freq='Q-JAN')
q1

Period('2019Q1', 'Q-JAN')

In [19]:
display(q1.start_time,q1.end_time)

Timestamp('2018-02-01 00:00:00')

Timestamp('2018-04-30 23:59:59.999999999')

In [20]:
# Use asfreq to convert period to a different frequency
q1.asfreq('M',how='start')

Period('2018-02', 'M')

In [21]:
q1.asfreq('M',how='end')

Period('2018-04', 'M')

In [22]:
# Weekly Period
w = pd.Period('2019-03-05',freq='W')
w

Period('2019-03-04/2019-03-10', 'W-SUN')

In [23]:
w-1

Period('2019-02-25/2019-03-03', 'W-SUN')

In [24]:
w2 = pd.Period('2019-04-17',freq='W')
w2

Period('2019-04-15/2019-04-21', 'W-SUN')

In [25]:
w2 - w

In [26]:
# PeriodIndex and period_range
r = pd.period_range('2011', '2017', freq='q')
r

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [27]:
display(r[0].start_time,r[0].end_time)

Timestamp('2011-01-01 00:00:00')

Timestamp('2011-03-31 23:59:59.999999999')

In [28]:
# Walmart's fiscal year ends in Jan, below is how you generate walmart's fiscal quarters between 2011 and 2017
idx = pd.period_range('2011', '2017', freq='q-jan')
idx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [29]:
display(idx[0].start_time,idx[0].end_time)

Timestamp('2010-11-01 00:00:00')

Timestamp('2011-01-31 23:59:59.999999999')

In [30]:
pd2 = pd.PeriodIndex(start='2016-01', freq='3M', periods=10)
pd2

/anaconda3/envs/ML/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Creating a PeriodIndex by passing range endpoints is deprecated.  Use `pandas.period_range` instead.
  """Entry point for launching an IPython kernel.

PeriodIndex(['2016-01', '2016-04', '2016-07', '2016-10', '2017-01', '2017-04',
             '2017-07', '2017-10', '2018-01', '2018-04'],
            dtype='period[3M]', freq='3M')

In [31]:
import numpy as np
ps = pd.Series(np.random.randn(len(idx)), idx)
ps

2011Q4    0.726545
2012Q1    1.853316
2012Q2   -0.974910
2012Q3    1.317818
2012Q4   -0.593089
2013Q1    1.715048
2013Q2   -0.811385
2013Q3   -1.074326
2013Q4   -1.128787
2014Q1    1.132420
2014Q2   -0.113382
2014Q3   -0.602333
2014Q4   -1.363634
2015Q1   -0.302095
2015Q2   -1.569939
2015Q3    0.236089
2015Q4   -0.651414
2016Q1    0.895907
2016Q2    1.004901
2016Q3   -0.779823
2016Q4   -0.137221
2017Q1    0.371759
2017Q2   -0.077482
2017Q3    0.445466
2017Q4    0.647896
Freq: Q-JAN, dtype: float64

In [32]:
# Partial Indexing
ps['2016']

2016Q4   -0.137221
2017Q1    0.371759
2017Q2   -0.077482
2017Q3    0.445466
2017Q4    0.647896
Freq: Q-JAN, dtype: float64

In [33]:
# as we are using wlamart format so the starting always at Q4
ps['2016':'2017']

2016Q4   -0.137221
2017Q1    0.371759
2017Q2   -0.077482
2017Q3    0.445466
2017Q4    0.647896
Freq: Q-JAN, dtype: float64

In [34]:
pst = ps.to_timestamp()
display(ps,pst)

2011Q4    0.726545
2012Q1    1.853316
2012Q2   -0.974910
2012Q3    1.317818
2012Q4   -0.593089
2013Q1    1.715048
2013Q2   -0.811385
2013Q3   -1.074326
2013Q4   -1.128787
2014Q1    1.132420
2014Q2   -0.113382
2014Q3   -0.602333
2014Q4   -1.363634
2015Q1   -0.302095
2015Q2   -1.569939
2015Q3    0.236089
2015Q4   -0.651414
2016Q1    0.895907
2016Q2    1.004901
2016Q3   -0.779823
2016Q4   -0.137221
2017Q1    0.371759
2017Q2   -0.077482
2017Q3    0.445466
2017Q4    0.647896
Freq: Q-JAN, dtype: float64

2010-11-01    0.726545
2011-02-01    1.853316
2011-05-01   -0.974910
2011-08-01    1.317818
2011-11-01   -0.593089
2012-02-01    1.715048
2012-05-01   -0.811385
2012-08-01   -1.074326
2012-11-01   -1.128787
2013-02-01    1.132420
2013-05-01   -0.113382
2013-08-01   -0.602333
2013-11-01   -1.363634
2014-02-01   -0.302095
2014-05-01   -1.569939
2014-08-01    0.236089
2014-11-01   -0.651414
2015-02-01    0.895907
2015-05-01    1.004901
2015-08-01   -0.779823
2015-11-01   -0.137221
2016-02-01    0.371759
2016-05-01   -0.077482
2016-08-01    0.445466
2016-11-01    0.647896
Freq: QS-NOV, dtype: float64

In [35]:
display(pst,pst.index)

2010-11-01    0.726545
2011-02-01    1.853316
2011-05-01   -0.974910
2011-08-01    1.317818
2011-11-01   -0.593089
2012-02-01    1.715048
2012-05-01   -0.811385
2012-08-01   -1.074326
2012-11-01   -1.128787
2013-02-01    1.132420
2013-05-01   -0.113382
2013-08-01   -0.602333
2013-11-01   -1.363634
2014-02-01   -0.302095
2014-05-01   -1.569939
2014-08-01    0.236089
2014-11-01   -0.651414
2015-02-01    0.895907
2015-05-01    1.004901
2015-08-01   -0.779823
2015-11-01   -0.137221
2016-02-01    0.371759
2016-05-01   -0.077482
2016-08-01    0.445466
2016-11-01    0.647896
Freq: QS-NOV, dtype: float64

DatetimeIndex(['2010-11-01', '2011-02-01', '2011-05-01', '2011-08-01',
               '2011-11-01', '2012-02-01', '2012-05-01', '2012-08-01',
               '2012-11-01', '2013-02-01', '2013-05-01', '2013-08-01',
               '2013-11-01', '2014-02-01', '2014-05-01', '2014-08-01',
               '2014-11-01', '2015-02-01', '2015-05-01', '2015-08-01',
               '2015-11-01', '2016-02-01', '2016-05-01', '2016-08-01',
               '2016-11-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [38]:
ps1 = pst.to_period()
display(pst,ps1)

2010-11-01    0.726545
2011-02-01    1.853316
2011-05-01   -0.974910
2011-08-01    1.317818
2011-11-01   -0.593089
2012-02-01    1.715048
2012-05-01   -0.811385
2012-08-01   -1.074326
2012-11-01   -1.128787
2013-02-01    1.132420
2013-05-01   -0.113382
2013-08-01   -0.602333
2013-11-01   -1.363634
2014-02-01   -0.302095
2014-05-01   -1.569939
2014-08-01    0.236089
2014-11-01   -0.651414
2015-02-01    0.895907
2015-05-01    1.004901
2015-08-01   -0.779823
2015-11-01   -0.137221
2016-02-01    0.371759
2016-05-01   -0.077482
2016-08-01    0.445466
2016-11-01    0.647896
Freq: QS-NOV, dtype: float64

2010Q4    0.726545
2011Q1    1.853316
2011Q2   -0.974910
2011Q3    1.317818
2011Q4   -0.593089
2012Q1    1.715048
2012Q2   -0.811385
2012Q3   -1.074326
2012Q4   -1.128787
2013Q1    1.132420
2013Q2   -0.113382
2013Q3   -0.602333
2013Q4   -1.363634
2014Q1   -0.302095
2014Q2   -1.569939
2014Q3    0.236089
2014Q4   -0.651414
2015Q1    0.895907
2015Q2    1.004901
2015Q3   -0.779823
2015Q4   -0.137221
2016Q1    0.371759
2016Q2   -0.077482
2016Q3    0.445466
2016Q4    0.647896
Freq: Q-DEC, dtype: float64

In [39]:
display(pst.index,ps1.index)

DatetimeIndex(['2010-11-01', '2011-02-01', '2011-05-01', '2011-08-01',
               '2011-11-01', '2012-02-01', '2012-05-01', '2012-08-01',
               '2012-11-01', '2013-02-01', '2013-05-01', '2013-08-01',
               '2013-11-01', '2014-02-01', '2014-05-01', '2014-08-01',
               '2014-11-01', '2015-02-01', '2015-05-01', '2015-08-01',
               '2015-11-01', '2016-02-01', '2016-05-01', '2016-08-01',
               '2016-11-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

PeriodIndex(['2010Q4', '2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1',
             '2012Q2', '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3',
             '2013Q4', '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1',
             '2015Q2', '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3',
             '2016Q4'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [40]:
# Processing Wal Mart's Financials
df = pd.read_csv("wmt.csv")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [41]:
df.set_index("Line Item",inplace=True)
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [42]:
# let's take the transpose
df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [43]:
df.index

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [45]:
df.index = pd.PeriodIndex(df.index, freq="Q-JAN")
display(df,df.index)

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [47]:
display(df.index[0].start_time,df.index[0].end_time)

Timestamp('2016-02-01 00:00:00')

Timestamp('2016-04-30 23:59:59.999999999')

In [49]:
#Add start date end date columns to dataframe
df["Start Date"]=df.index.map(lambda x: x.start_time)
df

Line Item  Revenue  Expenses  Profit Start Date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [50]:
df["End Date"]=df.index.map(lambda x: x.end_time)
df

Line Item  Revenue  Expenses  Profit Start Date                      End Date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999